<div id="toolbar" >
    <img id="imgLogo" src="">
    <div class="nav-space"></div>
    <div
      class="nav-bar-group-button"
    >
      <a id="p1" class="nav-bar-button">Inicio</a>
      <a id="p2" class="nav-bar-button">Compañia</a>
      <a id="p2" class="nav-bar-button">Evento</a>
      <a id="p2" class="nav-bar-button">Galería</a>
      <a id="p1" class="nav-bar-button">SuGaNic te cuenta!</a>
      <a id="p2" class="nav-bar-button">Contacto</a>
      <a id="p1"  class="nav-bar-button active" id="boton">Lotes en línea</a>
      <a id="p3" class="nav-bar-button">Iniciar Sesión</a>
    </div>
</div>

