

<div style="width: 50%; background-color: aquamarine; height: 500px; position: relative; float: left;">
    <img src="../../../assets/image/m1.jpg" alt="..." class="img-thumbnail" style="width : 60%;">
    <div style=" flex: 2; float: right; margin-right: 5px; margin-top: 20px; position: relative; font-size: 20px;;">
    <h2>Ganado en subasta</h2>
    <p class="text-monospace">Peso:  250kg</p>
    <p class="text-monospace">Raza:  Holstein</p>
    <p class="text-monospace">Dueño:  Sirilo Campos</p>
    <p class="text-monospace">Municipio:  Juigalpa</p>
    <p class="text-monospace">Chapa:  12001</p>
    </div>
    
</div>

<div style="width: 48%; background-color: rgb(140, 212, 67); float: right; height: 500px; overflow: hidden;">
    <p style= " width: 20%; height: 10%; margin-left: 30%; background-color: indigo; text-align: center; margin-top: 30%; font-size: 20px;">precio actual </p>
    <div class="badge badge-primary text-wrap" style="margin-left: 30%;">
        20000
      </div>
      <p style="margin: 70px 70px;left:80px; padding: auto; display: flex; float: left;">precio sugerido</p>
      <div class="badge badge-primary text-wrap" style="width: 200px ;position: relative;left:80px;">
        20100
      </div>
    <button id="a" type="input" class="btn btn-primary btn-lg" style=" width: 90px; margin: 70px 70px;left:80px; padding: auto; display: flex; float: left;">Subir precio</button>
</div>