

<div style="width: 50%; background-color: aquamarine; height: 500px; position: relative; float: left;">
    <img src="../../../assets/image/m1.jpg" alt="..." class="img-thumbnail" style="width : 60%;">
    <div style=" flex: 2; float: right; margin-right: 5px; margin-top: 20px; position: relative; font-size: 20px;;">
    <h2>Ganado en subasta</h2>
    <p class="text-monospace">Peso:  250kg</p>
    <p class="text-monospace">Raza:  Holstein</p>
    <p class="text-monospace">Dueño:  Sirilo Campos</p>
    <p class="text-monospace">Departamento:  Chontales</p>
    <p class="text-monospace">Municipio:  Juigalpa</p>
    <p class="text-monospace">Chapa:  12001</p>
    </div>
    
</div>
<div style="width: 48%; background-color: rgb(140, 212, 67); float: right; height: 500px; overflow: hidden;">
    <label for="" style="border: 1px solid rgb(66, 166, 184); padding:5px; margin: 30px 30px 30px;">sdlfbf</label>
    <button type="input" class="btn btn-primary btn-lg" style=" align-items: center;">Subir precio</button>
</div>